(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
B,
Bdotbelow,
Bhook,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
DZ,
DZcaron,
Dcaron,
Dcroat,
Ddotbelow,
Dhook,
Dz,
Dzcaron,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Eogonek,
Eopen,
Etilde,
Eturned,
Schwa,
F,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hcircumflex,
Hdieresis,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Istroke,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
Khook,
L,
LJ,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lj,
Lslash,
M,
N,
NJ,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nhookleft,
Nj,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Oogonek,
Oopen,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Pdotaccent,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rinvertedbreve,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udblgrave,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Uogonek,
Uring,
Utilde,
V,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Xdieresis,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
I.ss01,
IJ.ss01,
Iacute.ss01,
Ibreve.ss01,
Icircumflex.ss01,
Idblgrave.ss01,
Idieresis.ss01,
Idotaccent.ss01,
Idotbelow.ss01,
Igrave.ss01,
Ihookabove.ss01,
Iinvertedbreve.ss01,
Imacron.ss01,
Iogonek.ss01,
Itilde.ss01,
J.ss01,
Jcircumflex.ss01,
Iacute_j.loclNLD,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
bdotbelow,
bhook,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
dhook,
dz,
dzcaron,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
eogonek,
eopen,
etilde,
eturned,
schwa,
f,
g,
gacute,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hcircumflex,
hdieresis,
hdotbelow,
i,
dotlessi,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
istroke,
itilde,
ij,
j,
dotlessj,
jacute,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
khook,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lj,
lslash,
m,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nhookleft,
nj,
ntilde,
eng,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
oogonek,
oopen,
oslash,
oslashacute,
otilde,
oe,
p,
pdotaccent,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rinvertedbreve,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udblgrave,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
uogonek,
uring,
utilde,
v,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
xdieresis,
y,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
a.ss01,
aacute.ss01,
abreve.ss01,
abreveacute.ss01,
abrevedotbelow.ss01,
abrevegrave.ss01,
abrevehookabove.ss01,
abrevetilde.ss01,
acircumflex.ss01,
acircumflexacute.ss01,
acircumflexdotbelow.ss01,
acircumflexgrave.ss01,
acircumflexhookabove.ss01,
acircumflextilde.ss01,
adblgrave.ss01,
adieresis.ss01,
adotbelow.ss01,
agrave.ss01,
ahookabove.ss01,
ainvertedbreve.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
aringacute.ss01,
atilde.ss01,
y.ss01,
yacute.ss01,
ycircumflex.ss01,
ydieresis.ss01,
ydotbelow.ss01,
ygrave.ss01,
yhookabove.ss01,
ytilde.ss01,
f_f.liga,
f_f_f.liga,
f_f_i.liga,
f_f_j.liga,
f_f_l.liga,
f_f_t.liga,
f_h.liga,
f_j.liga,
f_t.liga,
fi,
fl,
r_f.liga,
r_t.liga,
t_f.liga,
ordfeminine,
ordmasculine,
Delta,
Omega,
mu,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tnum,
one.tnum,
two.tnum,
three.tnum,
four.tnum,
five.tnum,
six.tnum,
seven.tnum,
eight.tnum,
nine.tnum,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
onesuperior,
twosuperior,
threesuperior,
space,
.notdef,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
bar,
brokenbar,
dagger,
daggerdbl,
cedi,
cent,
colonsign,
currency,
dollar,
euro,
guarani,
liraTurkish,
manat,
naira,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
emptyset,
infinity,
integral,
product,
summation,
radical,
partialdiff,
micro,
percent,
perthousand,
upArrow,
rightArrow,
downArrow,
leftArrow,
lozenge,
hookabovecomb,
horncomb,
dotbelowcomb,
commaaccent,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
iacute_j.loclNLD,
Iacute_J.loclNLD,
dblgrave,
invertedbreve
)